
:root{
    --themeColor:linear-gradient(to right, #43cea2, #185a9d);
    
}
body{
    background-color: black;
    position: relative;
    min-height: 89vh;
}
video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    max-height: 150vh;
}


.minHeight{
    min-height: 72vh;
}
.marginTop{
    margin-top: 60px;
}
.marginBottomReduce{
    margin-bottom: 20px !important;
}

.pushRight{
    position: absolute !important;
    left:60px !important;
    /* top: 13px !important; */

}
#mainicon{
   
    animation: iconRotate infinite 5s linear ;
    
}
@keyframes iconRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar{
    background: linear-gradient(to right, #43cea2, #1843cea2);
}
.navbar.scrolled{
    background: rgba(119, 1, 129, 0.85);
    transition: background 700ms;
}
.navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,.8);
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(255, 255, 255);
}

/* login form styles */
main {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .stepper {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
  }

  .form {
    background: #fff;
    text-align: center;
    position: absolute;
    width: 25rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    display: none;
    border-radius: 1rem;
    overflow: hidden;
  }
  .form--header-container {
    background:var(--themeColor);
    color: #fff;
    height: 6rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }
  
  .form--header-title {
    font-size: 1.4rem;
  }
  
  .form--header-text {
    padding: 0.5rem 0;
  }
  
  input[type='text'] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 20rem;
    display: block;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #43cea2;
  }
  input[type='password'] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 20rem;
    display: block;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #43cea2;
  }
  
  
  .form__btn {
    background:var(--themeColor);
    color: #fff;
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    width: 7rem;
    margin: 1rem auto;
    border-radius: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }
  .form--message-text {
    width: 25rem;
    background: #fff;
    color: rgb(116, 9, 240);
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    animation: fadeIn 0.8s;
    border-radius: 1rem;
  }
  
  .form-active {
    z-index: 1000;
    display: block;
  }
  .form-active-animate {
    animation: moveRight 1s;
  }
  .form-inactive {
    display: block;
    animation: moveLeft 1s;
  }
  
  .step-active {
    background:var(--themeColor);
    color: #fff;
    border: 1px solid rgb(141, 6, 231);
  }
  @keyframes moveRight {
    0% {
      transform: translateX(-27rem) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(27rem) scale(0.9);
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .errorMsg{
    position: absolute;
    top:-50%;
    left:2%;
    width:90%;
    padding: 0.5% 5%;
    background-color: rgba(5, 143, 148, 0.849);
    color: white;
    border-radius: 5px;
    z-index: 2000;
    text-align: left !important;
}
.errorMsg::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(5, 143, 148, 0.849);
    position: absolute;
    bottom:-41%;
    left:10%;
    z-index: 2000;
}
.errorMsg.hidden{
    display: none;
}

.field-icon {
  /* float: right; */
  /* margin-left: -35px;
  margin-top: 8px; */
  position: absolute;
  right: 45px;
  top:18px;

  
  z-index: 2;
}


@media (max-width:600px){
    form{

        width: 20rem;
    }
    input[type='text']{
        width: 17rem;
    }
    input[type='password']{
        width: 17rem;
    }
}